body {
    background-image: url("../images/fundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family:Verdana;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20 px;
}

.left-div {
    flex: 1;
    text-align: center;
}

.right-div {
    flex: 1;
    text-align: center;
    margin-right:100 px;
    background-color:white;
    border-radius:10 px;
    opacity:0.6;
    padding:5 px;
}

.center {
    display: block;
    margin: 0 auto;
    color: green;
}
.btn{
    padding:10 px;   
    font-size: 16 px;
    display: inline-block;
    background-color: #3EA32E;
    color: #fff;
    text-decoration: none;
    border-radius:15 px;
    cursor: pointer;
    transition: background-color 0.3 s;
    border:none;
    margin-bottom:10 px;
}
.btn:hover{
	 background-color: #cadfc0;
}
