body{
	background-image: url("images/fundo.png");
    background-size: cover; /* Isso faz a imagem cobrir todo o corpo */
    background-repeat: no-repeat; /* Isso impede que a imagem de fundo se repita */
}